services:
  app:
    image: vishaldodda/simple-search:latest
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env
    environment:
      HOST: db
    ports:
      - "8000:8000"
  frontend:
    build: ./simple-search-frontend
    image: vishaldodda/simple-search-frontend:latest
    ports:
      - "5173:80"
    depends_on:
      - app
  db:
    image: mysql:latest
    env_file:
      - .env
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 3s
      retries: 10


